<!DOCTYPE HTML>

<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="right-sidebar is-preload">
    <div id="page-wrapper">

        @await Html.PartialAsync("HeaderPartial")

        <!-- Main -->
        <section id="main" class="wrapper style2">
            <div class="title">
                @if (ViewBag.Title != null)
                {
                    @ViewBag.Title
                }

                else
                {
                    @CompanyServices.Service.Config.CompanyName
                }
                    </div>
            <div class="container">
                <div class="row gtr-150">
                    <div class="col-8 col-12-medium">

                        @*@await Html.PartialAsync("ContentPartial")*@
                        @RenderBody()

                    </div>
                    <div class="col-4 col-12-medium">

                        @await Html.PartialAsync("SidebarPartial")

                    </div>
                </div>
            </div>
        </section>

        @* @await Html.PartialAsync("HighlightsPartial")*@

        @await Html.PartialAsync("FooterPartial")

    </div>


    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>