
<section id="footer" class="wrapper">
    <div class="title">Company Contacts</div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <section>
                    <h3 class="icon solid fa-envelope">Email</h3>
                    <p>
                        @Config.CompanyEmail
                    </p>
                </section>

                <section>
                    <h3 class="icon solid fa-phone">Phone</h3>
                    <p>
                        @Config.CompanyPhone
                    </p>
                </section>
            </div>
            <div class="col-6 col-12-medium">

                <section class="feature-list small">
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <section>
                                <h3 class="icon solid fa-home">Mailing Address</h3>
                                <p>
                                    @Config.CompanyName<br />
                                    str.Stefan cel Mare<br />
                                    Chisinau, Moldova
                                </p>
                            </section>
                        </div>
                        <div class="col-6 col-12-small">
                            <section>
                                <h3 class="icon solid fa-comment">Social</h3>
                                <p>
                                    <a href="#">facebook.com/@Config.CompanyName</a>
                                </p>
                            </section>
                        </div>

                    </div>
                </section>

            </div>
        </div>
        <div id="copyright">
            <ul>
                <li>&copy; @Config.CompanyName. All rights reserved</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
</section>