<section id="header" class="wrapper">
    <div id="logo">
        <h1><a href="index.html">@Config.CompanyName</a></h1>
        <p>"Anything is possible, the impossible just takes longer"</p>
    </div>

    <nav id="nav">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Main Page</a></li>
            <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Our Services</a></li>
            <li class="current"><a asp-area="" asp-controller="Home" asp-action="Contacts">About Us</a></li>
        </ul>
    </nav>

</section>